@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --purple-emphasis: #770bcc;
  --purple-emphasis-2: #411166;
  --purple-emphasis-3: rgba(109, 4, 192, 0.60);
  --purple-background: #2b143d;
  --purple-footer: rgba(69, 32, 99, 0.30);
  --white-emphasis: #d7d8e4;
  --white-lighter: #f0f0ff;
  --gray-buttons: rgba(31, 28, 41, 75%);
  --gray-emphasis-1: #a6a7b1;
  --gray-emphasis-2: #76767d;
  --default-font: 'Poppins';
  --text-shadow: 2.53px 2.53px 2.53px rgba(0, 0, 0, 0.25);
}

/*Estilos Gerais*/

html{font-size: 62.5%;}

body{
  object-fit: cover;
  background-image: url(/img/jpg/bg.jpg);
  /* margin: 0 calc(180px / 2); */
}

h1, h2, h3, h4, h5, h6, p, span{
  font-family: var(--default-font);
  color: var(--white-lighter);
}

:is(h1, h2, h3, h4, h5, h6) span{color: var(--purple-emphasis);}

.heading-2{font-size: calc(6.65rem / 1.5);}
  
.heading-3{font-size: calc(4.4rem / 1.5);}

.heading-4{
  font-size: calc(3rem / 1.5);
  /* margin-top: calc(10px / 4); */
}

.heading-5{
  font-size: calc(2.2rem / 1.5);
  color: var(--gray-emphasis-1);
}

.heading-6{
  font-size: calc(2.2rem / 1.5);
  color: var(--gray-emphasis-2);
}

main, section:not(:last-child){
  /* margin-bottom: 70px; */
}

main, section{
  margin: 0 calc(18rem / 1.5);
}

.text{
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

/* .heading-highlight{color: var(--purple-emphasis);} */

.nav-bar{
  display: flex;
  justify-content: flex-end;
  gap: calc(7.5rem / 1.5);
  margin: calc(3.6rem / 1.5);
  position: relative;
  right: 70px;
  font-weight: 500;
}

.nav-button{
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  border: 1.70px solid var(--white-emphasis);
  border-radius: 13px;
  padding: 0px 13px;
  gap: calc(3.72rem / 1.5);
  
  &#button-home{width: calc(17.8rem / 1.1);}
  &#button-edu{width: calc(26.9rem / 1.1);}
  &#button-tools{width: calc(31.8rem / 1.1);}
  &#button-projects{width: calc(22.4rem / 1.1);}

  & > span{
    position: relative;
    left: 32px;
    line-height: normal;
    font-size: 38.234px;
    transition: all 300ms ease-in-out;
  }

  & > img{
    width: 32px;
    position: absolute;
    left: 0;
    transition: left 0.5s ease-in-out;
  }

  &:hover{
    border-color: var(--purple-emphasis);
    & span{
      display: none;
    }

    & img{left: calc(50% - 32px);}
  }
}

.heading{
  font-family: var(--default-font);
  line-height: normal;
  font-weight: 600;
  text-shadow: var(--text-shadow);
}

.container-intro{
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: var(--default-font);
  font-style: normal;
  line-height: normal;
  color: var(--white-emphasis);

  & > img{width: calc(45rem / 1.5);}

  & .heading-info-1{font-size: calc(83px / 1.5);}

  & p#intro-desc{
    width: 70%;
    font-size: calc(3.3rem / 1.5);
    font-weight: 500;
  }
}

.container-intro .btn-wrapper{
  display: flex;
  gap: 30px;
  & .intro-button{
    display: flex;
    justify-content: center;
    width: calc(104px / 1.5);
    height: calc(104px / 1.5);
    background-color: var(--gray-buttons);
    object-fit: cover;

    & img{width: 80%;}
  }
}

.container-edu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & #edu-wrapper-1{margin-bottom: 10px;}
}

.edu-info{
  border-left: 4px solid var(--purple-emphasis);
  /* border-radius: 2px; */
  padding-left: 10px;
}



/*Ferramentas*/

.tools-wrapper{
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
}

.container-tool{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tool-icon{
  width: 23.4%;
}

.tool-label{
  display: none;
}

/*Experiências Profissionais*/

.text-xp{
  font-size: calc(3.3rem / 1.5);
}

/*Projetos*/

.projects-wrapper, .container-projects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.projects-wrapper{
  margin-bottom: calc(15.7rem / 1.5);
}

.project{
  display: flex;
  align-items: center;
}

.project-container-left{
  width: calc(744px / 1.5);
  height: calc(372px / 1.5);
  padding: calc(30px / 1.5);
  border-radius: calc(30px / 1.5);
  background-color: var(--purple-emphasis-2);
}

.project-img{
  width: 100%;
  border-radius: 1.5rem;
}

.project-text{
  font-weight: 600;
  font-size: calc(22.58px / 1.5);
  word-wrap: break-word;
}

.project-container-right{
  display: flex;
  flex-direction: column;
  padding: 1.31rem 2rem 0 2rem;
  background-color: var(--purple-emphasis-2);
  border-radius: 0 calc(20px / 1.5) calc(20px / 1.5) 0;
  width: calc(696px / 1.5);
  height: calc(330px / 1.5);
  
}

.project-heading-4{
  font-size: calc(3.45rem / 1.5);
  margin-bottom: calc(10px / 1.5);
  /* font-style: normal;
  line-height: normal; */
}

.project-heading-5{
  font-size: calc(2.85rem / 1.5);
  margin: calc(20px / 1.5) 0;
}

.project-button{
  /* position: relative; */
  gap: 1.3rem;
  display: flex;
  align-items: center;
  background-color: var(--purple-emphasis);
  width: calc(35.1rem / 1.5);
  height: calc(5.6rem / 1.5);
  flex-shrink: 0;
  padding: 0;
  border: 0;
  border-radius: calc(3rem / 1.5);
}

.project-button-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(5.6rem / 1.5);
  height: calc(5.6rem / 1.5);
  gap: calc(2.6rem / 1.5);
  /* flex-shrink: 0; */
  border-radius: inherit;
  background-color: var(--purple-emphasis-3);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.project-button-top > img{
  width: 60%;
}

.project-button-label{
  font-size: calc(2rem / 1.5);
  font-weight: 600;
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
  gap: calc(75rem / 1.5);
  align-items: center;
  width: 100%;
  height: calc(9rem / 1.5);
  padding: calc(1rem / 1.5) 0;
  background-color: var(--purple-footer);
}

#footer-info{
  /* flex: 1 */
  color: var(--white-lighter);
  font-family: var(--default-font);
  font-weight: 600;
  font-size: calc(3.13rem / 1.5);
}

/* #footer-button-github{
  flex: 2;
} */

#github-icon-footer{
  filter: brightness(0) saturate(100%) invert(100%) sepia(47%) saturate(3314%) hue-rotate(180deg) brightness(108%) contrast(104%);
}